body{
	background-color: rgb(252,252,252);
	margin:0;
	height:100vh;
}

#navHeader{
	position: relative;
	display: block;
	width:99%;
	height:5vh;
	margin-bottom: 0; 

}

.navigation-bar{
	position: relative;
	display: inline-block;
	width:65%;
	left:17%;
	margin-bottom: 0;
}

 .drop-down, a{
	text-decoration: none;
	font-family: interstate, sans-serif;
	font-weight: 350;
	font-style: normal;
	color: black;
	padding:4px 0px 6px 0px;
	font-size: 1.4vw;
	display: inline-block;
	margin-left: 12%;

}

.drop-nav{
	display: none;
	background-color: rgba(236, 236, 236, 0.8);
	position: absolute;
	width:21%;
	z-index: 100;
	padding:2px;

}

.drop-nav> a{
	position: relative;
	display: block;
	left:4%;
	padding:6px;
	padding-bottom: 10px;

}


.clicked, .active{
	color:#ffaa3c;
}

.socialMedia{
	width:100%;
	height:auto;
	margin-top: 2%;
	text-align: center;
}
.socialMedia> h1{
	font-family: acumin-pro, sans-serif;
	font-weight: 100;
	font-style: normal;
	text-align: center;
	color:rgba(255, 171, 61, 1);
	font-size:5.4vw;
	margin:0;
	padding:0;
}
.socialMedia>a{
	display: inline-block;
	margin:0;
	position: relative;
	margin-bottom: 8%;
}
.socialIcons{
	width:50%;
	margin:0;
}

.contactForm{
	text-align: center;
	font-family: acumin-pro, sans-serif;
	margin-bottom: 3%

}

.contactForm>h1{
	font-family: acumin-pro, sans-serif;
	font-weight: 100;
	font-style: normal;
	text-align: center;
	color:rgba(255, 171, 61, 1);
	font-size:6.3vw;
	margin:0;
	padding:0;
}


::placeholder {
  font-size:calc(3px + .9vw);}

.form{
	background-color: transparent;
	border:none;
	border-bottom:1px solid rgba(0,0,0,.6);
	position: relative;
	margin:.2%;
	margin-left:0;
	width:40%;}

#submit{
	position:relative;
	width:40%;
	left:.4%;
	font-size:calc(3px + .9vw);
	background: #ededed;
	border:none;
	color:black;}



