body{
	background-color: rgb(252,252,252);
	margin:0;
	height:100vh;
}

#navHeader{
	position: relative;
	display: block;
	width:99%;
	height:5vh;
	margin-bottom: 0; 

}

.navigation-bar{
	position: relative;
	display: inline-block;
	width:65%;
	left:17%;
	margin-bottom: 0;
}

 .drop-down, a{
	text-decoration: none;
	font-family: interstate, sans-serif;
	font-weight: 350;
	font-style: normal;
	color: black;
	padding:4px 0px 6px 0px;
	font-size: 1.4vw;
	display: inline-block;
	margin-left: 12%;

}

.drop-nav{
	display: none;
	background-color: rgba(236, 236, 236, 0.8);
	position: absolute;
	width:21%;
	z-index: 100;
	padding:2px;

}

.drop-nav> a{
	position: relative;
	display: block;
	left:4%;
	padding:6px;
	padding-bottom: 10px;

}


.clicked, .active{
	color:orange;
}

.titleSec{
	position:relative;
}


.titleSec>img{
	position:absolute;
	width:57%;
	right:0;
}

.name{
	position: absolute;
}


.imagebg{
	position: absolute;
	background-color:orange;
	height:95vh;
	width:55%;
	left:45%;
}

.imagebg>img{
	position: absolute;
	width:100%;
	bottom:0;
}


.titleSec>img{
	width:55%;
	height:100vh;
	position: absolute;
}

.perm{
	position:absolute;
	font-family: interstate, sans-serif;
	font-weight:100;
	font-style: normal;
	font-size:6.7vw;
	margin-top:20%;
	left:6%;
	color:orange;
	display: none;
}

.press{
	position: absolute;
	font-family: interstate, sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size:6.7vw;
	margin-top:20%;
	left:46%;
	color:white;
	z-index: 100;
	display: none;
}

.media{
	position: absolute;
	font-family: interstate, sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size:6.7vw;
	margin-top:20%;
	left:67%;
	color:white;
	z-index: 100;
	display: none;
}



