<!DOCTYPE html>
<html>
<head>
	<title>Permanent Press Media</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../js/app.js"></script>
	<link rel="shortcut icon" href="../images/favicon.png">
	<link rel="stylesheet" href="https://use.typekit.net/jvb1czn.css">
	<link rel="stylesheet" href="https://use.typekit.net/beh8gst.css">
	<link rel="stylesheet" type="text/css" href="../stylesheet/about.css">
</head>
<body>


<div class="navHeader">
<div class="navigation-bar">
		<a href="../index.html">HOME</a>
		<a class="active" href="#">ABOUT</a>
			<div class="drop-down">
				<a href="#">CLIENTS&#9662;</a>
					<div class="drop-nav">
						<a href="dua.html">DUA LIPA</a>
						<a href="rita.html">RITA ORA</a>
						<a href="zayn.html">ZAYN</a>
					</div>
			</div>
		<a href="contact.html">CONTACT</a>
</div>
</div>

<div class="aboutText">
	<h1>ABOUT US</h1>
	<p>Permanent Press is an independent publicity firm based in Brooklyn, NY. First launched in 2002 by Kathy Reilly, the company has since grown to represent a wide variety of success global music artists. The agency's staff includes highly motivated and qualified public relations professionals, each with first-hand experience handling music artists and publicizing entertainment events throughout the country. </p>
</div>


<div class="flipContainer">
	<h1>CLIENTS</h1>
	
	<div class="flipCardCont">
	  <div class="flipCard">
	    <div class="flipFront"><img src="../images/duaicon.jpg"></div>
	    <div class="flipBack">DUA LIPA</div>
	  </div>
	</div>

	<div class="flipCardCont">
	  <div class="flipCard">
	    <div class="flipFront"><img src="../images/ritaicon.jpg"></div>
	    <div class="flipBack">RITA ORA</div>
	  </div>
	</div>

	<div class="flipCardCont">
	  <div class="flipCard">
	    <div class="flipFront"><img src="../images/zaynicon.jpg"></div>
	    <div class="flipBack">ZAYN</div>
	  </div>
	</div>
</div>

</body>
</html>