<!DOCTYPE html>
<html>
<head>
	<title>Permanent Press Media — Contact</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../js/app.js"></script>
	<link rel="shortcut icon" href="../images/favicon.png">
	<link rel="stylesheet" href="https://use.typekit.net/jvb1czn.css">
	<link rel="stylesheet" href="https://use.typekit.net/beh8gst.css">
	<link rel="stylesheet" type="text/css" href="../stylesheet/contact.css">
</head>
<body>
<div class="navHeader">
<div class="navigation-bar">
		<a href="../index.html">HOME</a>
		<a href="about.html">ABOUT</a>
			<div class="drop-down">
				<a href="#">CLIENTS&#9662;</a>
					<div class="drop-nav">
						<a href="dua.html">DUA LIPA</a>
						<a href="rita.html">RITA ORA</a>
						<a href="zayn.html">ZAYN</a>
					</div>
			</div>
		<a class="active" href="#">CONTACT</a>
</div>
</div>


<div class="contactForm">
		<h1>CONTACT US</h1>
		<form method="post" action="">
			<input name="name" type="text" class="form" placeholder="Name*" required><br />
			<input name="email" type="text" class="form" placeholder="E-Mail*" required><br />	
			<textarea name="message" class="form" placeholder="Message*" rows="6"required></textarea><br />
			<button name="submit" type="submit" id="submit">submit</button>
		</form>
	</div>	


</div>

<div class="socialMedia">
	<h1>FOLLOW US</h1>
	<a href="https://www.instagram.com/permpressmedia/" target="_blank"><img class="socialIcons" src="../images/ig.png"></a>
	<a href="https://twitter.com/permpressmedia" target="_blank"><img class="socialIcons" src="../images/twitter.png"></a>
	<a href="https://www.linkedin.com/company/permanent-press-media/" target="_blank"><img class="socialIcons" src="../images/linkedin.png"></a>
	<a href="https://www.facebook.com/PermPressMedia/" target="_blank"><img class="socialIcons" src="../images/fb.png"></a>
</div>

</body>
</html>