<!DOCTYPE html>
<html>
<head>
	<title>Permanent Press Media — Rita Ora</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../js/app.js"></script>
	<link rel="shortcut icon" href="../images/favicon.png">
	<link rel="stylesheet" href="https://use.typekit.net/jvb1czn.css">
	<link rel="stylesheet" href="https://use.typekit.net/beh8gst.css">
	<link rel="stylesheet" type="text/css" href="../stylesheet/rita.css">
</head>
<body>

<div class="navHeader">
<div class="navigation-bar">
		<a href="../index.html">HOME</a>
		<a href="about.html">ABOUT</a>
			<div class="drop-down">
				<a class="active" href="#">CLIENTS&#9662;</a>
					<div class="drop-nav">
						<a href="dua.html">DUA LIPA</a>
						<a class="active" href="#">RITA ORA</a>
						<a href="zayn.html">ZAYN</a>
					</div>
			</div>
		<a href="contact.html">CONTACT</a>
</div>
</div>

<img id="scrolltopbtn" src="../images/arrow.png">

<div id="introSec">
	<div class="nameContainer">
		<img id="nameImage" src="../images/ritaname.png">
	</div>
	<div class="imageContainer">
		<div class="pageNavButtons">
			<button id="aboutButton">ABOUT</button>
			<button id="musicButton">MUSIC</button>
			<button id="magButton">MAGAZINES</button>
			<button id="socialButton">SOCIAL</button>
		</div>
		<img id="ritaImage" src="../images/rita.png">
</div>
</div>

<div class="aboutSec">
	<div class="text">
	<h1>ABOUT</h1>
	<p>Rita Ora is an international pop singer with multiple #1 singles, and 13 singles in the UK top 10. Her debut album, Ora premiered at #1 on the UK charts and was certified platinum. Recently she hit a major milestone, having the record for the most Top 10 Singles for a British female artist in the UK. Her debut U.S. album <i>Phoenix</i> features 3 top 5 UK platinum singlesand includes “Lonely Together,” her collaboration with Avicii which most recently won Best Dance VMA at the MTV Video Music Awards.Rita’s film credits include the Fifty Shades of Grey franchise, <i>Fast & Furious</i>, <i>Southpaw</i> and the upcoming <i>Detective Pikachu</i>.</p>
	</div>
	<div class="aboutImage">
		<img id="ritaAbout" src="../images/ritaabout.jpg">
	</div>
</div>

<div class="musicSec">
	<h1>LATEST MUSIC</h1>

<div class="musicStills">
	<div class="letyou">
		<a href="https://www.youtube.com/watch?v=XCQK6LmhYqc" target="_blank"><img class="songImage" src="../images/letyouloveme.jpg"></a>
		<p>Let You Love Me</p>
	</div>

	<div class="yoursong">
		<a href="https://www.youtube.com/watch?v=i95Nlb7kiPo" target="_blank"><img class="songImage" src="../images/yoursong.jpg"></a>
		<p>Your Song</p>
	</div>

	<div class="anywhere">
		<a href="https://www.youtube.com/watch?v=ksdAs4LBRq8" target="_blank"><img class="songImage" src="../images/anywhere.jpg"></a>
		<p>Anywhere</p>
	</div>

	<div class="lonely">
		<a href="https://www.youtube.com/watch?v=vQ3XgMKAgxc" target="_blank"><img class="songImage" src="../images/lonely.jpg"></a>
		<p>Lonely Together (feat. Avicii)</p>
	</div>

	<div class="foryou">
		<a href="https://www.youtube.com/watch?v=RQUuqbzQVsY" target="_blank"><img  class="songImage" src="../images/foryou.jpg"></a>
		<p>For You (feat. Liam Payne)</p>
	</div>

</div>
</div>

<div class="magContainer">
<h1>MAGAZINE COVERS</h1>
		<div class="magazineSlides fade">
			<img src="../images/ritainstyle.jpg">
			<img src="../images/ritacosmo.jpg">
			<img src="../images/ritapaper1.jpg">
		</div>
		<div class="magazineSlides fade">
			<img src="../images/clash.jpg">
			<img src="../images/notion.jpg">
			<img src="../images/esquire.jpg">
		</div>
	<a class="previous">&#xab;</a>
	<a class="next">&#xbb;</a>
</div>

<div class="socialMedia">
	<h1>SOCIAL MEDIA</h1>
	<a href="https://www.instagram.com/ritaora/?hl=en" target="_blank"><img class="socialIcons" src="../images/ig.png"></a>
	<a href="https://twitter.com/RitaOra" target="_blank"><img class="socialIcons" src="../images/twitter.png"></a>
	<a href="https://www.facebook.com/RitaOra/" target="_blank"><img class="socialIcons" src="../images/fb.png"></a>
	<a href="https://www.youtube.com/user/ritaora" target="_blank"><img class="socialIcons" src="../images/yt.png"></a>
	<a href="https://open.spotify.com/artist/5CCwRZC6euC8Odo6y9X8jr" target="_blank"><img class="socialIcons" src="../images/spotify.png"></a>
</div>

</body>
</html>